argparse==1.2.1
hungarian==0.2.3
numpy==1.8.1
openpyxl==1.8.6
pandas==0.14.0
patsy==0.2.1
python-dateutil==2.2
pytz==2014.4
scikit-learn==0.14.1
scipy==0.14.0
six==1.6.1
statsmodels==0.5.0
wsgiref==0.1.2
